@import "../../../../../../variable.scss";

.drop-menu {
    position: absolute;
    top: 4rem;
    left: 0px;
    background-color: var(--background-color);
    z-index: 5;
    min-width: 10rem;
    width: fit-content;
    max-width: 15rem;
    visibility: visible;
    height: calc(100vh - 4rem);
    animation-name: slideRight;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    &:hover {
        visibility: visible;
    }
}

.outAnimation{
  animation-name: slideLeft;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  transform: translateX(-14rem);
}

@keyframes slideRight {
  0%   {transform: translateX(-14rem);}
  100% {transform: translateX(-0rem);}
}

@keyframes slideLeft {
  0%   {transform: translateX(-0rem);}
  100% {transform: translateX(-14rem);}
}
