@import "../../../../variable.scss";

.wrapper {
    .title {
        line-height: initial;
    }

    .subtitle {
        text-align: left;
    }
    .row{
        @media (max-width: $max-md) {
            display: flex;
            flex-direction: column;
        }
    }
    form{
        width: 60vw;
    }
    .bottom-text {
        margin-top: 15px;
        margin-bottom: 15px;
        font-family: $font1;
    }
    button{
        font-size: $fs2;
        width:250px;
        &:first-child{
            margin-right: 15px;
        }
    }
}
