<div class="wrapper">
  <form>
    <div class="title">Esqueci minha senha</div>
    <div class="subtitle">Digite seu e-mail no campo abaixo para  gerar uma nova senha</div>
    <app-input label="E-mail" name="email" type="email" [formControl]="formGroup.controls['email']"
      requirementMessage="O e-mail é obrigatório" maxLengthMessage="O e-mail não pode ter mais que 256 caracteres"
      placeholder="meuemail@email.com"  [showRequired]="false">
      <i class="fas fa-envelope input"></i>
    </app-input>
    <div class="bottom-text">Você receberá um e-mail com as intruções para a restauração de sua senha</div>
    <div class="row center">
      <div class="">
        <button class="light" (click)="closeModal()">Cancelar</button>
      </div>
      <div class="">
        <button class="fit-content default" (click)="submit()">Recuperar senha</button>
      </div>
    </div>
  </form>
</div>
