<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Primeiro acesso</title>
</head>
<body style="
  color: #8d8d8d;
  font-family: Helvetica, Arial, sans-serif;

  display: grid;
  flex-direction: row;
  justify-content: center;


  align-items: center;

  margin: 24px auto;

  line-height: 140%;

  max-width: 50%;
  ">

  <header style="background-color: rgb(231, 230, 230); padding: 0.6rem; text-align: center;">
    <div>

      <img src="https://i.ibb.co/9HFL6HG/pixlr-bg-result-3.png" alt="pixlr-bg-result-3">


      <h1>Bem vindo <span style="font-weight:lighter;">ao EachOne</span> </h1>
    </div>
  </header>

  <div style="
    max-width: 80%;
    margin: 0px auto;
    ">

    <div style="
      border-bottom: solid 1px gray;
      margin-bottom: 2rem;

      width: 100%;
    ">
     <p style="
     color: #999999;
     text-align: left;

     margin-top: 3rem;
     margin-bottom: 2.5rem;">
     <b>Parabéns, <span style="text-decoration: underline;">{{ user.name }}</span> </b> </p>

    <div style="text-align: left; font-size: 1rem; font-weight: 100;">
      Gostaríamos de dar às boas-vindas à nossa plataforma de ensino, EachOne. É com prazer
      que te incluímos à nossa lista de clientes.
      <br>
      <br>
      Esperamos servi-los cada vez melhor; e aproveitamos para informar que estamos em alerta
      permanente quanto ao controle de qualidade dos nossos serviços, para que sua satisfação
      <br>
      seja plena e nossos laços de parceria sejam cada vez mais fortes.
      <br>
      <br>
      Siga o passo-a-passo para <b>conﬁgurar sua senha de acesso</b> ao EachOne.
    </div>

    <div style="

    height: 5rem;

    font-size: 1.6rem;
    line-height: 2rem;

    margin-top: 2.4rem;

    text-align: left;">


    <b>Nome:</b> {{ user.name }}
    <br>
    <b>Pefil de usário:</b> {{ user.perfil }}

  </div>

    <div style="
      color: white;

      max-width: 70%;
      height: 2rem;

      background-color: #008D59;
      background-size: 1rem 1rem;

      border-radius: 4px;

      text-align: center;

      padding: 1rem;

      font-size: 1.3rem;

      margin: 3rem auto;"
      >

      <b style="">Configurar acesso EachOne</b>

    </div>

    <div style="
      font-size: 1rem;
      height: 5rem;

      margin-bottom: 4rem;

      text-align: left;">

      Por motivos de segurança, o link acima só será válido durante as próximas 24 horas.
      <br>
      <br>
      Se você não deseja redeﬁnir sua senha ou não solicitou estas informações, pode ignorar este
      e-mail com segurança.
    </div>
    </div>
  </div>



  </div>

  <footer style="text-align: center;">
    <div>
      Por favor, não responda esta mensagem. Em caso de dúvidas, acesse nossa <a href="" style="color: #6F6EFF;">Central de Ajuda.</a>
    </div>
    </div>
      <img src="https://i.ibb.co/DQC6RLq/Grupo-32.png" alt="EachOne logo">
    <div>
  </footer>

</body>
</html>
