<body>
    <app-header [title]="'Instituições'" [hasAddButton]="true" (clickEvent)="addNewInstitutions()">
    </app-header>
    <div class="container">
        <h1 class="title">Você ainda não tem instituições cadastradas.</h1>
        <div class="areaContent">
            <img class="image" src="../../../../../assets/imgs/teacher.svg" alt="manImage">
            <div class="itensContainer">
                <div class="buttonDownModelArea">
                    <div class="buttonDownModel">
                        <app-button-down-model></app-button-down-model>
                    </div>
                </div>
                <div class="attachArea">
                    <app-attach-area>
                        Arraste o arquivo da sua lista de usuários para dentro da área.
                        <br> (Apenas arquivos.CSV)
                    </app-attach-area>
                </div>
            </div>
        </div>
    </div>
</body>