<div class="wrapperr">
<div>
  <div class="back" (click)="redirectToLogin()">
    <h1 ><i class="fas fa-chevron-left"></i> Voltar</h1>
  </div>
</div>
<body class="flex spaceAround">
  <div class="text">
    <h1 class="title">
      Termos de Priacidade <br />
      <br />
      & Cookies
    </h1>
    <div class="simpleText">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vetur
        adipisicing elit. Voluptatibucum aut repellat optio, suscipit incidunt,
        fuga obcaecati quis ducimus quisquam dolorum vitae repellendus unde
        sequi aperiam?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vetur
        adipisicing elit. Voluptatibucum aut repellat optio, suscipit incidunt,
        fuga obcaecati quis ducimus quisquam dolorum vitae repellendus unde
        sequi aperiam?
      </p>
      <p>
        Lorem ipsum Voluptatibucum aut repellat optio, suscipit incidunt, fuga
        obcaecati quis ducimus quisquam dolorum vitae repellendus unde sequi
        aperiam?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vetur
        adipisicing elit. Voluptatibucum aut repellat optio, suscipit incidunt,
        fuga obcaecati quis ducimus quisquam dolorum vitae repellendus unde
        sequi aperiam?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibucum
        aut repellat optio, suscipit incidunt, fuga obcaecati quis ducimus
        quisquam dolorum vitae repellendus unde sequi aperiam?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vetur
        adipisicing elit. Voluptatibucum aut repellat optio, suscipit incidunt,
        fuga obcaecati quis ducimus quisquam dolorum vitae repellendus unde
        sequi aperiam?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vetur
        adipisicing elit. Voluptat suscipit incidunt, fuga obcaecati quis
        ducimus quisquam dolorum vitae repellendus unde sequi aperiam?
      </p>
      <p>
        Lorem ipsum dolor cum aut repellat optio, suscipiecati quis ducimus
        quisquam optio, suscipit incidunt, fuga obcaecati quis ducimus quisquam
        dolorum vitae repellendus unde sequi aperiam?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibucum
        aut repellat optio, suscipit incidunt, fuga obcaecati quis ducimus
        quisquam dolorum vitae repellendus unde sequi aperiam?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibucum
        aut repellat optio, suscipit incidunt, fuga obcaecati quis ducimus
        quisquam dolorum vitae repellendus unde sequi aperiam?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vetur
        adipisicing elit. Voluptatibucum aut repellat optio, suscipit incidunt,
        fuga obcaecati quis ducimus quisquam dolorum vitae repellendus unde
        sequi aperiam?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vetur
        adipisicing elit. Voluptat suscipit incidunt, fuga obcaecati quis
        ducimus quisquam dolorum vitae repellendus unde sequi aperiam?
      </p>
      <p>
        Lorem ipsum dolor cum aut repellat optio, suscipiecati quis ducimus
        quisquam optio, suscipit incidunt, fuga obcaecati quis ducimus quisquam
        dolorum vitae repellendus unde sequi aperiam?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibucum
        aut repellat optio, suscipit incidunt, fuga obcaecati quis ducimus
        quisquam dolorum vitae repellendus unde sequi aperiam?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibucum
        aut repellat optio, suscipit incidunt, fuga obcaecati quis ducimus
        quisquam dolorum vitae repellendus unde sequi aperiam?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vetur
        adipisicing elit. Voluptatibucum aut repellat optio, suscipit incidunt,
        fuga obcaecati quis ducimus quisquam dolorum vitae repellendus unde
        sequi aperiam?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vetur
        adipisicing elit. Voluptat suscipit incidunt, fuga obcaecati quis
        ducimus quisquam dolorum vitae repellendus unde sequi aperiam?
      </p>
      <p>
        Lorem ipsum dolor cum aut repellat optio, suscipiecati quis ducimus
        quisquam optio, suscipit incidunt, fuga obcaecati quis ducimus quisquam
        dolorum vitae repellendus unde sequi aperiam?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibucum
        aut repellat optio, suscipit incidunt, fuga obcaecati quis ducimus
        quisquam dolorum vitae repellendus unde sequi aperiam?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibucum
        aut repellat optio, suscipit incidunt, fuga obcaecati quis ducimus
        quisquam dolorum vitae repellendus unde sequi aperiam?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vetur
        adipisicing elit. Voluptatibucum aut repellat optio, suscipit incidunt,
        fuga obcaecati quis ducimus quisquam dolorum vitae repellendus unde
        sequi aperiam?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vetur
        adipisicing elit. Voluptat suscipit incidunt, fuga obcaecati quis
        ducimus quisquam dolorum vitae repellendus unde sequi aperiam?
      </p>
      <p>
        Lorem ipsum dolor cum aut repellat optio, suscipiecati quis ducimus
        quisquam optio, suscipit incidunt, fuga obcaecati quis ducimus quisquam
        dolorum vitae repellendus unde sequi aperiam?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibucum
        aut repellat optio, suscipit incidunt, fuga obcaecati quis ducimus
        quisquam dolorum vitae repellendus unde sequi aperiam?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibucum
        aut repellat optio, suscipit incidunt, fuga obcaecati quis ducimus
        quisquam dolorum vitae repellendus unde sequi aperiam?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vetur
        adipisicing elit. Voluptatibucum aut repellat optio, suscipit incidunt,
        fuga obcaecati quis ducimus quisquam dolorum vitae repellendus unde
        sequi aperiam?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vetur
        adipisicing elit. Voluptat suscipit incidunt, fuga obcaecati quis
        ducimus quisquam dolorum vitae repellendus unde sequi aperiam?
      </p>
      <p>
        Lorem ipsum dolor cum aut repellat optio, suscipiecati quis ducimus
        quisquam optio, suscipit incidunt, fuga obcaecati quis ducimus quisquam
        dolorum vitae repellendus unde sequi aperiam?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibucum
        aut repellat optio, suscipit incidunt, fuga obcaecati quis ducimus
        quisquam dolorum vitae repellendus unde sequi aperiam?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibucum
        aut repellat optio, suscipit incidunt, fuga obcaecati quis ducimus
        quisquam dolorum vitae repellendus unde sequi aperiam?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vetur
        adipisicing elit. Voluptatibucum aut repellat optio, suscipit incidunt,
        fuga obcaecati quis ducimus quisquam dolorum vitae repellendus unde
        sequi aperiam?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vetur
        adipisicing elit. Voluptat suscipit incidunt, fuga obcaecati quis
        ducimus quisquam dolorum vitae repellendus unde sequi aperiam?
      </p>
      <p>
        Lorem ipsum dolor cum aut repellat optio, suscipiecati quis ducimus
        quisquam optio, suscipit incidunt, fuga obcaecati quis ducimus quisquam
        dolorum vitae repellendus unde sequi aperiam?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibucum
        aut repellat optio, suscipit incidunt, fuga obcaecati quis ducimus
        quisquam dolorum vitae repellendus unde sequi aperiam?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibucum
        aut repellat optio, suscipit incidunt, fuga obcaecati quis ducimus
        quisquam dolorum vitae repellendus unde sequi aperiam?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vetur
        adipisicing elit. Voluptatibucum aut repellat optio, suscipit incidunt,
        fuga obcaecati quis ducimus quisquam dolorum vitae repellendus unde
        sequi aperiam?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vetur
        adipisicing elit. Voluptat suscipit incidunt, fuga obcaecati quis
        ducimus quisquam dolorum vitae repellendus unde sequi aperiam?
      </p>
      <p>
        Lorem ipsum dolor cum aut repellat optio, suscipiecati quis ducimus
        quisquam optio, suscipit incidunt, fuga obcaecati quis ducimus quisquam
        dolorum vitae repellendus unde sequi aperiam?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibucum
        aut repellat optio, suscipit incidunt, fuga obcaecati quis ducimus
        quisquam dolorum vitae repellendus unde sequi aperiam?
      </p>
      <p>
        Lorem ipsum dolor rcitationem aspernatur error cum aut repellat optio,
        suscipit incidunt, fuga obcaecati quis ducimus quisquam dolorum vitae
        repellendus unde sequi aperiam?
      </p>
    </div>
  </div>
  <div class="imgDiv">
    <img src="../../../../assets/imgs/man_image.svg" alt="" />
  </div>
</body>
</div>
