form {
  &.editorComponent {
    button {
      height: auto;
      background: #5aadd3;
      color: black;
      font-weight: inherit;
      margin-top: 0;
      border: none;
      border-radius: 0;
      box-shadow: none;
    }
  }
  // display: flex;
  // flex-direction: column;
  font-family: $font1;
  font-weight: 200;
  width: 100%;
  .forgot-password {
    text-align: right;
    margin-top: 5px;
    font-weight: 300;
    &:hover {
      cursor: pointer;
      font-weight: 400;
    }
  }

  i {
    &.input {
      position: absolute;
      font-size: 17px;
      color: $icon-login;
      opacity: 0.8;
      margin: 0px 0px 0px 10px;
      top: 50%;
      &.right-i {
        width: fit-content;
        right: 10px;
        margin-right: 5px;
      }
    }
  }

  .row {
    display: flex;
    /*  margin-bottom: 15px; */
    &:last-child {
      margin-bottom: 0;
    }
    &.center {
      align-items: center;
    }
    &.right {
      justify-content: flex-end;
    }
    &.col_wrap {
      flex-wrap: wrap;
    }
    &.start {
      align-items: flex-start;
      @media (max-width: 1080px) {
        flex-direction: column;
        align-items: inherit;
        gap: 5px;
      }
    }
    .col {
      &.flex-3 {
        flex: 3;
      }
      flex: 1;
    }
    .form {
      display: inline-block;
    }
  }
  label {
    font-size: 16px;
    font-family: roboto;
    color: $dark-color;
    margin: 5px 5px 0px 5px;
    display: inline-flex;
    width: 100%;
  }
  .box {
    .row {
      margin-bottom: 0px;
    }
  }
}

app-checkbox {
  margin-bottom: 15px;
}
