.markDownClass{
    h1{
      font-size: 2rem;
      margin:2rem 0px
    }

    p{
      padding: 0rem 3rem;
      color: white;
    }

    h3{
      padding-top: 1rem;
      border-bottom: 2px solid white;
    }
  } 