@import "../../../../../variable.scss";

.subtitle {
  padding-left: 5px;
}

div.select-check {
  display: flex;
  flex-direction: column;
  color: $dark-color;
  label {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    input[type="checkbox"] {
      position: relative;
      cursor: pointer;
      &:before {
        content: "";
        display: block;
        position: absolute;
        width: 20px;
        height: 20px;
        top: 0;
        left: 0;
        background-color: $secundary-color;
        outline: 1px solid $primary-color;
      }
      &:checked {
        &:before {
          content: "";
          display: block;
          position: absolute;
          width: 20px;
          height: 20px;
          top: 0;
          left: 0;
          background-color: $primary-color;
        }
        &:after {
          content: "";
          display: block;
          width: 5px;
          height: 10px;
          border: solid $secundary-color;
          border-width: 0 2px 2px 0;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
          position: absolute;
          top: 2px;
          left: 6px;
        }
      }
    }
    span {
      padding-left: 15px;
      font-size: $fs5;
    }
  }
}
