@import "../../../../../variable.scss";


.mediumCard{
    background-color: var(--cards-background);
    height: 25rem;
    border-radius: 4px;
  }


@media only screen and (max-width : $max-md) {
  .mediumCard{
    width:100%;
    margin: 2rem 0px;
  }
}


